@{
    Layout = "~/Views/Shared/_LayoutTheme.cshtml";
    Html.EnableClientValidation(false);
}
@model UserActivityViewModel
<style>
    .box-info:nth-of-type(odd) {
        background-color: #3ecdc6 !important;
    }

</style>


@* colors list
    bg-color-1
    bg-color-2
    bg-color-6
    bg-color-4

*@


<section class="mainContent full-width clearfix">
    <div class="container">

        @*Family Members Header *@
        <div class="row">
            <div class="col-xs-12">
                <div class="sectionTitle text-center">
                    <h2>
                        <span class="shape shape-left bg-color-4"></span>
                        <span>Family Members</span>
                        <span class="shape shape-right bg-color-4"></span>
                    </h2>
                </div>
            </div>
        </div>

        @* Family Members *@
        @*<div class="row">*@

            @*@foreach (var user in Model.UserList)
            {
                <div class="col-sm-6 col-xs-12">
                    <div class="media teamStyle">
                        <div class="media-body" style="border:solid">

                            <h4 class="media-heading"><a href="#">@user.FirstName</a></h4>
                            <h5>Currently Reading: </h5>
                            <h5>Progress: </h5>

                        </div>
                    </div>
                </div>
            }
        </div>*@
        <div class="familymembercard">
            @foreach (var user in Model.UserList)
            {

                <div class="col-md-3 col-xs-6" id="FamilyMembersContainer">

                    <div class="box" id="box">
                        <div class="box-info">
                            <h4>@user.FirstName</h4>
                            <div class="current">
                                <span>Currently Reading: @Model.Title</span>
                               
                            </div>
                            <div class="current">
                                <span>Progress: @Model.MinutesRead</span>
                            </div>
                            <div class="progress">
                                <span></span>
                            </div>

                        </div>

                    </div>
                </div>
            }
        </div>

        </div>
</section>