@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model RegisterViewModel

<div id="register_title" class="col-md-12">
    <h1>Create your Family Reading Account</h1>
    <br />
</div>
<div id="register_text" class="col-sm-8">
    
    <p>To start, create a family account with a Family Name.</p>
    <p>The Family Name may be your family's name or something fun!</p>
    <br />
</div>

<div id="register_family" class="col-sm-3">
    <form>
        <div class="form-group">
            @*<label for="firstName">First Name</label>*@
            <input type="text" class="form-control form-control-sm" id="firstName" placeholder="Enter your first name">
        </div>
        <div class="form-group">
            @*<label for="lastName">Last Name:</label>*@
            <input type="text" class="form-control form-control-sm" id="lastName" placeholder="Enter your last name">
        </div>
        <div class="form-group">
            @*<label for="userName">User Name:</label>*@
            <input type="text" class="form-control form-control-sm" id="userName" placeholder="Create a user Name">
        </div>
        <div class="form-group">
            @*<label for="familyName">Family Name:</label>*@
            <input type="text" class="form-control form-control-sm" id="familyName" placeholder="Create a name for your Family">
        </div>
        <div class="form-group">
            @*<label for="pwd">Password:</label>*@
            <input type="password" class="form-control form-control-sm" id="pwd" placeholder="Enter a password">
        </div>
        <div class="form-group">
            @*<label for="confirm">Confirm Password:</label>*@
            <input type="password" class="form-control form-control-sm" id="confirm" placeholder="Confirm your password">
        </div>
        @*<div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
            </div>*@
        <button type="submit" class="btn btn-sm btn-primary">Submit</button>
    </form>
</div>
