@{
    Layout = "~/Views/Shared/_LayoutTheme.cshtml";
    Html.EnableClientValidation(false);
}
@model UserActivityViewModel

<h1>User Reading Activity View</h1>

<dl class="row">
    <dt class="col-sm-3">Currently reading:</dt>
    <dd class="col-sm-6">Title of book currently reading</dd>
    <dd class="col-sm-3">
        <button type="submit" class="btn btn-sm btn-primary">View Additional Information</button>
    </dd>

    <dt class="col-sm-3">Time spent reading this book:</dt>
    <dd class="col-sm-9">pull total reading time from db for user reading</dd>

    @*<dt class="col-sm-3">Progress toward prize:</dt>
    <dd class="col-sm-6">
        <div class="progress" style="height: 15px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:75%;" role="progressbar">75%</div>
        </div>
    </dd>
    <dd class="col-sm-3"></dd>*@

    <dt class="col-sm-3">Add reading time for this book:</dt>
    <dd class="col-sm-2">
        <input type="time" name="TimeReading" class="form-control form-control-sm col-sm-6" />
    </dd>
    <dd class="col-sm-7">
        <button type="submit" class="btn btn-sm btn-primary">Add reading time</button>
    </dd>

    <dt class="col-sm-4">Click Complete when you've finished the book</dt>
    <dd class="col-sm-8">
        <button type="submit" class="btn btn-sm btn-primary">Complete</button>
    </dd>

    @*<dt class="col-sm-3">Start a new book</dt>
    <dd class="col-sm-9"></dd>*@
</dl>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addBookModal" data-backdrop="false">Start new book</button>
<div class="modal fade bg-light" id="addBookModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >Add a new book to read</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/Home/AddReadingLog" method="post">
                    <div class="form-group">
                        <label for="user-name" class="col-form-label">Select User:</label>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="selectUserButton" data-toggle="dropdown">Select User</button>
                            <div class="dropdown-menu">
                                @foreach (var item in Model.UserList)
                                {
                                <button class="dropdown-item" type="button" name="UserID" value="@item.ID">@item.FirstName</button>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="book-title" class="col-form-label">Title:</label>
                        <text class="form-control" id="book-title-text" name="Title"></text>
                    </div>
                    <div class="form-group">
                        <label for="book-author" class="col-form-label">Author:</label>
                        <text class="form-control" id="book-author-text" name="Author"></text>
                    </div>
                    <div class="form-group">
                        <label for="book-isbn" class="col-form-label">ISBN:</label>
                        <text class="form-control" id="book-isbn-text" name="ISBN"></text>
                    </div>
                    <div class="form-group">
                        <label for="book-isbn" class="col-form-label">Format:</label>
                        <input type="text" class="form-control" id="book-type-text" name="Type" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Add Book</button>
            </div>
        </div>
    </div>
</div>




<script src="~/Content/UserActivityJQuery.js"></script>
